#container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: sticky;
    top: 10px;
    width: auto; 
    min-width: 200px;
    background-color: #f4f4f4;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

.sidebar h1 {
    white-space: nowrap;
    text-align: center;
}

.content {
    flex: 1;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

.header {
    max-height: 280px;
    overflow: hidden;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

.header img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;

}

.content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}