#container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: sticky;
    top: 10px;
    width: auto; 
    min-width: 200px;
    background-color: #f4f4f4;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

.sidebar h1 {
    white-space: nowrap;
    text-align: center;
    font-size: 36px;
    border-bottom: 2px solid #ff0000;
}

.content {
    flex: 1;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    ;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.explanation {
    background-color:whitesmoke;
    padding : 5px 10px 10px 10px;
    border-bottom: white solid 5px;
}

h3 {
border-bottom: #ff0000 solid 2px;
}